NEXT_PUBLIC_API_BASE_URL=https://fanar-scribe-api.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://ogvpyrnidolumuvhbola.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PwGVQ4jEkRZdt5ht9cyA-w_7ZTgLOLM
NEXT_PUBLIC_PHYSICIAN_PROMPT_API_URL=
